# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DATABASE_URL="postgresql://postgres:PASSWORD@localhost:5432/plastico?schema=public"

# JWT Configuration
JWT_REFRESH_SECRET=your-ultra-secure-refresh-secret-key-here
JWT_REFRESH_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=15m

# Africa's Talking API Configuration
AT_API_KEY=your-africas-talking-api-key
AT_USERNAME=sandbox
AT_SENDER_ID=SandboxShortCode
